.swipe {
    position: absolute;
}

.content-swiping-loaded {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--idewe-background-solid);
    color: var(--idewe-blue-dark);
    font-family: var(--main-font);
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    margin: 10px 0;
}
  
.cardContainer {
    width: 100%;
    height: 200px;
    align-items: center;
    margin: 0 auto;
}
  
.swipecard {
    position: relative;
    background-color: #fff;
    width: 80vw;
    height: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
    border-radius: 20px;
    background-size: cover;
    background-position: center;

    &-noimage {
        @extend .swipecard;
        background-color: var(--idewe-blue);
        display: flex;
        justify-content: center;
        box-shadow: none;
        border: 5px solid var(--idewe-white);
    }
}
  
.cardContent {
    width: 100%;
    height: 100%;
}
  
.swipe:last-of-type {
    width: 20vw;
}
  
.swipecard h3 {
    position: absolute;
    font-family: var(--main-font);
    bottom: 0;
    margin: 10px;
    color: var(--idewe-white);
}

.swipecard h2 {
    position: absolute;
    top: 40%;
    font-family: var(--main-font);
    color: var(--idewe-white);
}

.finishedSwiping {
    height: 360px;
    font: var(--main-font);
    text-align: center;
    padding-top: 120px;
    color: var(--idewe-blue);
}

.finishedSwiping h4 {
    font-family: var(--main-font);
    font-size: 24px;
    color: var(--idewe-blue);
    font-weight: 500;
}