.control-panel {
    height: 100vh;
    width: 100vw;
    background-color: var(--idewe-background-solid);
    padding: 50px 10px 0px 50px;
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
}

.control-panel h1 {
    color: var(--idewe-blue-dark);
    font-weight: 600;
}

.control-panel h3 {
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
    font-size: 20px;
    font-weight: 600;
    margin-top: 1em;
}

.control-panel .success {
    font-family: var(--main-font);
    color: var(--idewe-green);
    font-size: 14px;
    font-weight: 500;
}

.control-panel .error {
    font-family: var(--main-font);
    color: var(--idewe-red);
    font-size: 14px;
    font-weight: 500;
}

.control-panel .info {
    font-family: var(--main-font);
    color: var(--idewe-gray-dark);
    font-size: 14px;
    font-weight: 500;
}