.module-container {
    max-width: 360px;
    margin: 0 auto;
}

.module-topandbottom-row {
    position: relative;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

.module-middle-row {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    text-align: center;
}

.coaching-circle {
    margin: 0 auto;
    padding-top: 25px;
    font-family: var(--main-font); 
    font-size: 18px;
    font-weight: 700;
    color: var(--idewe-blue-dark);
    background-color: var(--idewe-white);
    height: 110px;
    width: 110px; 
    border-radius: 60px;
    margin-top: -10px;
    z-index: 2;
}

/* Module Lines */
.line {
    height: 100px;
    position: absolute;
    z-index:0;

    &-paineducation {
        @extend .line;
        top: 50px;
    }
    
    &-emotions {
        @extend .line;
        left: 120px;
        top: -130px;
        transform: rotate(-55deg);
    }

    &-activity {
        @extend .line;
        right: 120px;
        top: -130px;
        transform: rotate(55deg);
    }

    &-movement {
        @extend .line;
        right: 130px;
        top: -90px;
        transform: rotate(125deg);
    }

    &-social {
        @extend .line;
        left: 130px;
        top: -90px;
        transform: rotate(-125deg);
    }

    &-stress {
        @extend .line;
        height: 150px;
        top: -150px;
    }
}

/* Tutorial Popovers */
.tutorial-content {
    font-family: var(--main-font);
    font-size: 14px;
    color:var(--idewe-black)
}

.tutorial-content h4 {
    color: var(--idewe-blue);
}

.tutorial-button-row {
    overflow: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
}

.tutorial-illustration {
    display: flex;
    justify-content: center;
}

.ant-popover-inner {
    border-radius: 10px;
}

.settings-button {
    border: none; 
    background: none;
    float: right;
    display: inline;
    margin-top: 17px;
    margin-left: 10px;
    opacity: 70%;
}