.module-container {
    max-width: 360px;
    margin: 0 auto;
}

.module-top-row {
    position: relative;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.module-middle-row {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    text-align: center;
}

.tutorial-content {
    font-family: var(--main-font);
    font-size: 14px;
    color:var(--idewe-black)
}

.tutorial-content h4 {
    color: var(--idewe-blue);
}

.tutorial-button-row {
    overflow: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
}

.tutorial-illustration {
    display: flex;
    justify-content: center;
}

.ant-popover-inner {
    border-radius: 10px;
}