.module-container {
    max-width: 360px;
    margin: 0 auto;
}

.module-top-row {
    position: relative;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.module-middle-row {
    position: relative;
    width: 100%;
    min-height: 100px;
    display: flex;
    text-align: center;
}

.ant-popover-inner {
    border-radius: 10px;
}