.screen-title {
  color: var(--idewe-blue-dark);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 26px;
  margin-top: 20px;
}
  
.dev-icon {
  font-size: 12px;
  border: 1px solid var(--idewe-blue-dark);
  color: var(--idewe-blue-dark);
  width: 31px;
  padding: 1px 5px 0px 5px;
  border-radius: 4px;
  margin-left: 5px;
}
  
.subtitle {
  color: var(--idewe-blue-dark);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 10px;
  margin: 5px 0 0 0;
  text-transform: uppercase;
}
  
.large-text {
  color: var(--idewe-gray-dark);
  font-family: var(--main-font);
  font-size: 16px;
}
  
.small-text {
  color: var(--idewe-gray-dark);
  font-family: var(--main-font);
  font-size: 14px;
}
  
.close-button {
  background-color: var(--idewe-blue-dark);
  border: 1px solid var(--idewe-background-solid);
  border-radius: 8px;
  margin-left: 5%;
  margin-top: 2px;
  font: var(--main-font) !important;
  font-size: 16px;
  color: var(--idewe-white);
  padding: 2px 12px;
  height: 38px;
  width: 90%;
}