.actionbutton {
    margin: 5px 0px;
    padding: 0;
    border: none;
    background-color: var(--idewe-blue);
    color: var(--idewe-white);
    border-radius: 15px;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    transition: .2s ease-in-out;

    .actionbutton-text {
        font-weight: 600;
        font-family: var(--main-font);
        font-size: 16px;
        text-align: left;
        flex: 2;
        margin-top: 12px;
        margin-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .actionbutton-text-small {
        @extend .actionbutton-text;
        font-size: 14px;
        margin-left: 15px;
        margin-top: 13px;
    }
}

.actionbutton.pressed {
    transform: scale(0.97);
}

.actionbutton-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--idewe-white);
    border-radius: 10px;
    margin: 7px 0px 7px 7px;
    height: 36px;
    width: 36px;
}

.actionbutton-arrow {
    display: flex;
    width: 20px;
    margin-right: 10px;
    font-weight: 600;
    font-family: var(--main-font);
    font-size: 22px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.actionbutton-content {
    display: flex;
    flex-direction: column;
    flex: 2,
}

.actionbutton-subtitle {
    font-weight: 400;
    font-family: var(--main-font);
    font-size: 14px;
    text-align: left;
    flex: 2;
    margin-top: 4px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.actionbutton-title {
    font-weight: 600;
    font-family: var(--main-font);
    font-size: 16px;
    text-align: left;
    flex: 2;
    margin-top: -6px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}