.modal-content {
    border-radius: 20px !important;
}

.modal-header {
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
    font-size: 22px;
    font-weight: 800;
    border-bottom: none !important;
}

.modal-body {
    font-family: var(--main-font);
    color: var(--idewe-black);
}

.modal-footer {
    border-top: none !important;
}
