.modal-content {
    border-radius: 15px !important;
}

.modal-header {
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
    font-size: 22px;
    font-weight: 800;
    border-bottom: none !important;
}

.modal-body {
    font-family: var(--main-font);
    color: var(--idewe-black);
    padding: 0 !important;
}

.modal-footer {
    border-top: none !important;
    justify-content: center !important;
    display: flex;
    gap: 10px;
}
