.button {
    margin: 5px 0px;
    padding: 10px;
    border: none;
    background-color: var(--idewe-white);
    color: var(--idewe-blue);
    width: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    transition: .1s ease-in-out;
    align-items: center;

    &-inactive {
        @extend .button;
        background-color: var(--idewe-gray-light);
        color: var(--idewe-white);
    }

    .button-text {
        font-weight: 500;
        font-family: var(--main-font);
        font-size: 16px;
        text-align: left;
        float: left;

        &-small {
            @extend .button-text;
            font-size: 12px;
        }
    }
}

.button.selected {
    background-color: var(--idewe-blue);
    color: var(--idewe-white);
}

.button.pressed {
    transform: scale(0.97);
}
