/*.card-header {
  background-color: var(--idewe-blue) !important;
  border-radius: 6px 6px 0 0 !important;
  padding-bottom: 5px;
  width: 100%;
  border: none;
}*/
  
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--idewe-white);
  color: var(--idewe-blue-dark);
  border-radius: 10px;
  margin-bottom: 30px;
  border: none;
  box-shadow: var(--card-shadow);
  transition: 200ms;

  &-overview {
    @extend .card;
    background-color: var(--idewe-blue);
    color: var(--idewe-white);
  }
}

.card-header-div {
  display: flex;

  &-titlecard {
    @extend .card-header-div;
    justify-content: center;
    padding-bottom: .5em;
  }
}

.card-scroll {
  scroll-snap-align: start;
}

.card-body {
  padding: 0 20px 20px 20px;

  &-overview {
    @extend .card-body;
    color: var(--idewe-white)
  }
}

.card-icon-circle {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 18px;
  padding-top: 4px;
  padding-left: 5px;
  background-color: var(--idewe-white);
  display: inline-block;
  border-radius: 25px;
}
  
.card-header-title {
  font-family: var(--main-font);
  margin: 20px 10px 10px 20px;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  
  &-underline {
    @extend .card-header-title;
    text-decoration: underline;
  }
}

.card-overview-line {
  width: 95%;
  border: 0.3px solid var(--idewe-white);
  opacity: 40%;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 2px;
}

.card-line {
  width: 90%;
  margin-left: 5%;
  border: 0.5px solid var(--idewe-blue-dark);
  opacity: 60%;
  margin-top: 0px;
  margin-bottom: 5px;
  border-radius: 2px;
}