.chatbubble-container {
    width: 100%;
    display: inline-grid;
    position: relative;
}

.chatbubble {
    background-color: var(--idewe-blue);
    color: var(--idewe-white);
    font-family: var(--main-font);
    font-weight: 500;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    max-width: 330px;
    padding: 8px 10px;
    height: min-content;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    overflow-x: hidden; 
    cursor:default;

    &-own {
        @extend .chatbubble;
        background-color: var(--idewe-white);
        color: var(--idewe-blue);
        justify-self: end;
        border-radius: 15px 15px 0 15px;
    }

    &-ownchoice {
        @extend .chatbubble;
        background-color: var(--idewe-white);
        color: var(--idewe-blue);
        justify-self: end;
        font-size: 14px;
        border-radius: 15px 15px 0 15px;
        border: 2px solid var(--idewe-blue);
        cursor: pointer;

        &-textinput {
            @extend .chatbubble-ownchoice;
        }
    }

    &-ownchoicebutton {
        @extend .chatbubble;
        background-color: var(--idewe-blue);
        color: var(--idewe-white);
        justify-self: end;
        font-size: 16px;
        border-radius: 15px 15px 0 15px;
        border: 2px solid var(--idewe-blue);
    }
}

.chatbubble.disabled {
    background-color: var(--idewe-gray-light);
    color: var(--idewe-white);
    border: 2px solid var(--idewe-gray-light);
}

.chatbubble-ownchoice.disabled {
    background-color: var(--idewe-gray-light);
    color: var(--idewe-white);
    border: 2px solid var(--idewe-gray-light);
}

.chatbubble-ownchoicebutton.disabled {
    background-color: var(--idewe-gray-light);
    color: var(--idewe-white);
    border: 2px solid var(--idewe-gray-light);
}


.chatbubble-title {
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--idewe-blue-dark);
}

.chatbubble-information {
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--idewe-blue);
}


.chat-text-option {
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 400;
    color: var(--idewe-blue-dark);

    &-selected {
        @extend .chat-text-option;
        font-size: 14px;
        color: var(--idewe-blue);
    }
}

.highlighted {
    color: var(--idewe-blue);
    font-weight: 600;
}

mark {
    background-color: transparent;
    padding: 0;
}

.option-breakline {
    border-color: var(--idewe-background-solid);
    width: 95%;
    margin-block-start: 1px;
    margin-block-end: 1px;
}

/* CHATBUBBLE - Inputs */
.chatbubble-inputs-container {
    display: grid;
    row-gap: 5px;
}

.chatbubble-inputs-title {
    font-size: 18px;
    text-decoration: underline;
}

.chatbubble-inputs-text {
    font-size: 14px;
    font-weight: 400;
}

.chatbubble-inputs-row {
    display: flex;
}

.chatbubble-inputs-inputtext {
    width: 75%;
}

.chatbubble-inputs-highlightinput {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 1px 5px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;

    &-disabled {
        @extend .chatbubble-inputs-highlightinput;
        background-color: rgba(255, 255, 255, 0);
        //padding: 0;
    }
}

.chatbubble-inputs-barcontainer {
    width: 25%;
}

.chatbubble-inputs-bar {
    background-color: var(--idewe-white);
    border-radius: 0 3px 3px 0;
    height: 80%;
    margin-top: 5%;
}

.chatbubble-inputs-divider {
    border-top: 1px dashed var(--idewe-white);
    height: 1px;
    margin: 1px 5px;
    
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
    filter: alpha(opacity=50); // IE 5-7
    opacity: 0.5;
}