.modulebutton {
    position: absolute;
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    color: var(--idewe-white);
    background-color: var(--idewe-blue);
    text-align: center;

    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 600;

    &-PE {
        @extend .modulebutton;
        padding-top: 50px;
    }

    &-ACT {
        @extend .modulebutton;
        padding-top: 38px;       
        position: absolute;
        right: 0;
        top: -80px;
    }

    &-EM {
        @extend .modulebutton;
        padding-top: 38px;
        position: absolute;
        left: 0;
        top: -80px;

    }

    &-MOV {
        @extend .modulebutton;
        padding-top: 48px;       
        position: absolute;
        right: 0;
        top: -60px;
    }

    &-SOC {
        @extend .modulebutton;
        padding-top: 36px;
        position: absolute;
        left: 0;
        top: -60px;
    }

    &-STR {
        @extend .modulebutton;
        padding-top: 38px;
        position: absolute;
        top: -85px;
    }
}

.locked {
    background-color: var(--idewe-gray-dark);
    transform: scale(0.8);
}

.completed {
    background-color: var(--idewe-blue-dark);
    transform: scale(0.8);
}

.modulebutton-text {
    margin:auto;
}

.progress-ring {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
