.navigation-bar {
    position: fixed;
    z-index: 10;
    width:100vw;
    height: 65px;
    padding-left: 0px;
    padding-top: 25px;
    color: var(--idewe-blue-dark);
    background-color: var(--idewe-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    /* Font */
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 600;

      /* Disable text selection and highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.navigation-bar-button {
    background: none;
    color: var(--idewe-blue-dark);
    border: none;
    width: 20px;
    margin-right: 20px;
    margin-left: 0px;
}