.painlogbook-body {
    padding: 65px 20px 0 20px;
    height: 100vh;
    overflow-y: scroll;
}

.painlogbook-body h3 {
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    clear: both;
}

.painlogbook-body h4 {
    font-family: var(--main-font);
    color: var(--idewe-blue-dark);
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.painlogbook-body p {
    font-family: var(--main-font);
    color: var(--idewe-blue);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

.painlogbook-body b {
    font-weight: 500;
}

.painlogbook-explanation {
    background-color: var(--idewe-white);
    color: var(--idewe-blue-dark);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    margin: 20px 0 10px;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
}
  
.painlogbook-entry {
    background-color: var(--idewe-white);
    color: var(--idewe-blue);
    font-family: var(--main-font);
    font-weight: 500;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: var(--card-shadow);
    position: relative;
}

.painlogbook-entry-button {
    background-color: var(--idewe-blue);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-top: 6px;
    padding-left: 8px;
    box-shadow: var(--card-shadow);
}

.painlogbook-emptylogs {
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    color: var(--idewe-blue);
    font-weight: 500;
    font-size: 20px;
    margin-top: 50px;
}

.chatbubble-overview {
    background-color: var(--idewe-white);
    color: var(--idewe-blue);
    font-size: 14px;
    border-radius: 15px 15px 15px 0px;
    float: left;
    border: 2px solid var(--idewe-blue);
    font-family: var(--main-font);
    font-weight: 500;
    width: fit-content;
    max-width: 330px;
    padding: 8px 10px;
    height: min-content;
    margin-bottom: 10px;
    box-shadow: var(--card-shadow);

    &-rounded {
        @extend .chatbubble-overview;
        border-radius: 15px;
        margin-right: 10px;
    }
}