.control-panel {
    height: 100vh;
    float: left;
    background-color: var(--idewe-background-solid);
}

.screen-panel {
    position: relative;
    height: 100vh;
    float: right;
    background-color: var(--idewe-background-solid);
}

.phone-screen {
    top:110px;
    right: 30px;
    width: 376px;
    height: 660px;
    overflow: hidden;
    float: left;
    z-index: 4;
    outline: 2px solid black;
}

/*
.phone-mockup {
    right: -10px;
    top: 10px;
    height: 90vh;
    float: left;
    z-index: 3;
    outline: 2px solid black;
}
*/