.moduletile-container {
    position: relative;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;
    color: var(--idewe-white);
    background-color: var(--idewe-blue);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    box-shadow: var(--card-shadow);
    margin-bottom: 10px;
    transition: .2s ease-in-out;

    &-pressed {
        @extend .moduletile-container;
        transform: scale(0.97);
    }
}

.moduletile-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--idewe-blue);
    box-shadow: var(--card-shadow);

    &-notstarted {
        @extend .moduletile-indicator;
        background-color: var(--idewe-gray-light);
    }
}

.moduletile-icon-container {
    border-radius: 8px;
    width: 15px;
    height: 15px;
    margin: 10px;
    background-color: var(--idewe-white);
}