/* Open module card */
.module-card-container {
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(1, 66, 106, 0.1);
    margin-bottom: 15px;
}

.module-card-top {
    background-color: var(--idewe-background-solid);
    border-radius: 15px 15px 0 0;
    min-height: 150px;
    position: relative;
    z-index: 0;

    &-white {
        @extend .module-card-top;
        background-color: var(--idewe-white);
    }
}

.module-card-title-container {
    position: absolute;
    bottom: 0px;
    height: 150px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
}

.module-card-title {
    color: var(--idewe-blue-dark);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 30px;
    margin-left: 20px;
    line-height: 35px;

    &-locked {
        @extend .module-card-title;
        color: var(--idewe-gray-dark);
    }
}

.module-card-number {
    position: relative;
    color: var(--idewe-blue);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: -5px;
    padding-top: 50px;

    &-locked {
        @extend .module-card-number;
        color: var(--idewe-gray-dark);
    }
}

.module-card-bottom {
    background-color: var(--idewe-blue);
    padding: 10px 10px 10px 20px;
    border-radius: 0 0 15px 15px;
    z-index: 2;

    &-locked {
        @extend .module-card-bottom;
        background-color: var(--idewe-gray-dark);
    }
}

.module-card-bottom-row {
    display: flex;
    width: 100%;
}

.module-card-information {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    padding-right: 20px;
    color: var(--idewe-white);
    float: "left";
    flex: 1;
}

.module-card-pills {
    flex-wrap: wrap;
}

.module-card-pills > .pill-button {
    margin-top: 10px;
}

.module-button-container {
    float: "right";
    width: fit-content;
    margin: auto;
    margin-right: 10px;
}

.module-button {
    border: none;
    background-color: var(--idewe-white);
    color: var(--idewe-blue);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(1, 66, 106, 0.1);

    &-disabled {
        @extend .module-button;
        background-color: var(--idewe-gray-light);
        color: var(--idewe-white);
    }

    &-disabledtime {
        @extend .module-button;
        font-size: 14px;
        background-color: var(--idewe-gray-light);
        color: var(--idewe-white);
    }
}

/* Closed module card */
.module-card-closed {
    background-color: var(--idewe-blue);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(1, 66, 106, 0.1);
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;

    &-locked {
        @extend .module-card-closed;
        background-color: var(--idewe-gray-dark);
    }
}

.module-status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: var(--idewe-white);
    box-shadow: 0px 4px 4px rgba(1, 66, 106, 0.1);
}

.module-card-closed-text {
    float: "left";
    flex: 1;
}

.module-card-icon {
    float: "right";
    width: 30px;
    margin: auto;
    margin-right: 10px;
}

.module-card-icon-circle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    border-radius: 20px;
    background-color: var(--idewe-white);
    box-shadow: 0px 4px 4px rgba(1, 66, 106, 0.1);
}

.module-card-closed-title {
    color: var(--idewe-white);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 500;
}

.module-card-closed-number {
    color: var(--idewe-blue-dark);
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 500;

    &-locked {
        @extend .module-card-closed-number;
        color: var(--idewe-black);
    }
}