.modulebutton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    color: var(--idewe-white);
    background-color: var(--idewe-blue);
    text-align: center;
    transition: .2s ease-in-out;
    padding-top: 8px;    
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 600;
    
    &-TOP {
        @extend .modulebutton;
    }

    &-TOPLEFT {
        @extend .modulebutton;   
        position: absolute;
        right: 0;
        top: -80px;
    }

    &-TOPRIGHT {
        @extend .modulebutton;
        position: absolute;
        left: 0;
        top: -80px;

    }

    &-BOTTOMRIGHT {
        @extend .modulebutton;  
        position: absolute;
        right: 0;
        top: -60px;
    }

    &-BOTTOMLEFT {
        @extend .modulebutton;
        position: absolute;
        left: 0;
        top: -60px;
    }

    &-BOTTOM {
        @extend .modulebutton;
        position: absolute;
        top: -85px;
    }
}

.module-checkicon {
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 30px;
    top: 0px;
    right: 0px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background-color: var(--idewe-white);
}

.modulebutton.pressed {
    transform: scale(0.95);
}

.modulebutton.locked {
    background-color: var(--idewe-gray-dark);
    transform: scale(0.8);
}

.modulebutton.completed {
    background-color: var(--idewe-blue-dark);
    transform: scale(0.8);
}

.modulebutton-text {
    margin:auto;
}

.progress-ring {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
