/* Date Picker colors */

.MuiInputBase-input {
    font-family: var(--main-font) !important;
    font-family: 'Montserrat', sans-serif !important; 
    font-size: 16px !important;
    color: var(--idewe-blue-dark) !important;
    background-color: var(--idewe-white) !important;
    border: 1px solid var(--idewe-gray-light) !important;
    border-radius: 4px !important;
    padding: 8.5px !important;
    width: 5000px !important;
    margin-top: 2px !important;
    text-transform: capitalize;
    margin-right: 4px;
    -webkit-appearance: none;
  }
  
  .MuiInput-underline:before{
    border-bottom: none !important;
  }
  .MuiPickersToolbar-toolbar {
    background-color: var(--idewe-blue-dark) !important;
  }
  
  .MuiPickersToolbar-toolbar  {
    color: var(--idewe-blue-dark) !important;
  }
  
  .MuiPickersDay-current  {
    color: var(--idewe-blue-dark) !important;
  }
  
  .MuiPickersDay-daySelected {
    color: white !important;
    background-color: var(--idewe-blue) !important;
  }
  
  .MuiPickersDay-daySelected:hover {
    color: white !important;
    background-color: var(--idewe-blue) !important;
  }
  
  .MuiButton-textPrimary {
    color: var(--idewe-blue-dark) !important;
  }
  
  .MuiInput-underline:after {
    border-bottom: none !important;
  }
  
  .MuiPickersMonth-monthSelected {
    color: var(--idewe-blue-dark) !important;
  }
  
  .MuiPickersMonth-monthSelected:hover {
    color: var(--idewe-blue-dark) !important;
  }
  